@use 'variaveis';

.footer {
    padding: 26px 8px;

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    &__logo {
        width: 10%;
        margin: 0 auto 10px;
    }

    &__git{
        margin-bottom: 2%;

        a{
            font-family: variaveis.$font-destaque;
            font-size: 25px;
            color: rgb(255, 255, 255);
            text-decoration: none;
            background-color: rgb(0, 0, 0);
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid  rgb(220, 162, 44);

            &:hover{
                font-weight: bold;
                color: rgb(0, 0, 0);
                background-color: rgb(255, 255, 255);
                transition: 0.3s ease-in;
                box-shadow: 0 0 8px 1px rgba(220, 161, 44, 0.76);
            }
        }
    }

    &__links {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
        &__item {
            display: inline-block;

            a {
                text-decoration: none;
                padding: 8px 16px;
                display: block;

                &:hover {
                    color: variaveis.$corTextoSecundario;
                }
            }
        }
    }

    // .footer__git{
    //     color: blue;
    // }

    p {
        margin-bottom: 16px;
    }
}

.language-selector {
    display: flex;
    align-items: center;

    img {
        height: 18px;
        width: 18px;
    }

    select {
        background-color: transparent;
        border: none;
        color: variaveis.$corTextoPrincipal;
        height: 38px;

        &:hover {
            color: variaveis.$corTextoSecundario;
        }

        option {
            color: variaveis.$corDeFundo;
        }
    }
}