// Cores da temática Alien
$corDeFundo: #000000;
$corTextoPrincipal: #ffffff; 
$corTextoSecundario: #b0b0b0;


// Cores para botões genéricos (pode adaptar depois)
$corDeFundoBotaoPrimario: #0063e5;
$corDeFundoBotaoSecundario: #6421ff;
$corDeFundoBotaoDark: #000;

// Fontes
$font-principal: Avenir, sans-serif;
$font-destaque: "Alien League Bold", cursive;